.advantages {
  display: none;

  @media (min-width: 760px) {
    @include tablet-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
  }
}

.advantages__heading {
  margin: 0;
  margin-bottom: 85px;
  font-size: 24px;
  font-weight: bold;
  line-height: 23px;
  color: #0a5a7e;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  @media (min-width: 760px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1170px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.advantages__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  margin-bottom: 76px;
  width: 425px;
  min-height: 70px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 75px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url('../img/award.png');
  }

  &:nth-child(2)::before {
    background-image: url('../img/order.png');
  }

  &:nth-child(3)::before {
    background-image: url('../img/shield.png');
  }

  &:nth-child(4)::before {
    background-image: url('../img/clock.png');
  }

  &:nth-child(5)::before {
    background-image: url('../img/fashion.png');
  }

  &:nth-child(6)::before {
    background-image: url('../img/truck.png');
  }
}

.advantages__card-heading {
  margin: 0;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  color: #0a5a7e;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.advantages__card-description {
  margin: 0;
  width: 354px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.advantages__link {
  margin-bottom: 39px;
  width: 354px;
  height: 52px;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
