.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a5a7e;
  border: 1px solid #0a5a7e;
  color: #ffffff;
  text-decoration: none;

  &--inverted {
    background-color: #ffffff;
    border: 1px solid #0a597d;
    color: #7d9eb1;
  }

  @media (min-width: 760px) {
    &:hover,
    &:focus {
      box-shadow:
        0 0 32px 0 rgba(0, 0, 0, 0.24);
    }

    &:active {
      background-color: #004a6e;
    }

    &--inverted {
      &:hover,
      &:focus {
        box-shadow: none;
        background-color: #ffffff;
        color: #0a597d;
      }

      &:active {
        border-width: 2px;
      }
    }
  }
}
