.catalog-cards__content {
  @include mobile-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 32px;

  @media (min-width: 760px) {
    @include tablet-content;
    margin: 0;
    padding: 0;
    width: 590px;
  }

  @media (min-width: 1170px) {
    position: relative;
    width: 880px;

    &::before {
      content: "Меркурий-Интер-Лаб";
      position: absolute;
      top: 860px;
      left: 150px;
      width: 1643px;
      height: 141px;
      opacity: 0.1;
      font-size: 163px;
      line-height: 37.6px;
      color: #0a5a7e;
      letter-spacing: 2px;
      z-index: 0;
    }
  }
}

.catalog-cards__list {
  @include list-reset;

  @media (min-width: 760px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 12px;
    width: 590px;
  }

  @media (min-width: 1170px) {
    padding: 0;
    width: 880px;
  }
}

.catalog-cards__item {
  margin-bottom: 29px;

  @media (min-width: 760px) {
    margin-bottom: 48px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 45px;
  }
}

.catalog-cards__pagination {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 250px;
}

.catalog-cards__pagination-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  z-index: 1;

  & a {
    font-size: 16px;
    line-height: 23px;
    color: #373737;
    text-decoration: none;
  }


  &.js-active {
    & a {
      color: #0a5a7e;
      font-weight: bold;
    }

    background-image: url(../img/pagination-active.png);
    background-repeat: no-repeat;
  }
}


