.catalog-cards__content {
  @include mobile-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 32px;

  @media (min-width: 760px) {
    @include tablet-content;
    padding-top: 85px;
    padding-bottom: 0;
  }

  @media (min-width: 1170px) {
    margin: 0;
    padding: 0;
    width: 880px;
    position: relative;

    &::before {
      content: "Меркурий-Интер-Лаб";
      position: absolute;
      top: 860px;
      left: 150px;
      width: 1643px;
      height: 141px;
      opacity: 0.1;
      font-size: 163px;
      line-height: 37.6px;
      color: #0a5a7e;
      letter-spacing: 2px;
      z-index: 0;
    }
  }
}

.catalog-cards__heading {
  @include mobile-headings;
  @media (min-width: 760px) {
    @include desktop-headings;
  }

  @media (min-width: 1170px) {
    margin-right: auto;
    text-shadow:
      -10px 10px 0 rgba(40, 80, 169, 0.13);
  }
}

.catalog-cards__list {
  @include list-reset;

  @media (min-width: 760px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 735px;
  }

  @media (min-width: 1170px) {
    width: 880px;
  }
}

.catalog-cards__item {
  margin-bottom: 29px;

  @media (min-width: 760px) {
  }

  @media (min-width: 1170px) {
    margin-bottom: 45px;
  }
}
