.checkout__form {
  @include mobile-content;

  @media (min-width: 760px) {
    @include tablet-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
  }
}

.checkout__heading {
  display: none;

  @media (min-width: 760px) {
    @include tablet-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 10px;

    font-size: 16px;
    line-height: 11px;
    color: #0a5a7e;
    text-transform: uppercase;
    text-shadow:
      14px 4px 0 rgba(10, 90, 126, 0.2);
    letter-spacing: 1px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    margin-bottom: 40px;
    padding-top: 22px;

    font-size: 24px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}

.checkout__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: none;

  &:last-of-type .checkout__legend {
    margin-bottom: 35px;
  }

  @media (min-width: 760px) {
    width: 328px;

    &:last-of-type .checkout__legend {
      margin-bottom: 46px;
    }
  }

  @media (min-width: 1170px) {
    width: 486px;

    &:last-of-type .checkout__legend {
      margin-bottom: 77px;
    }
  }
}

.checkout__legend {
  margin-bottom: 15px;
  font-size: 20px;

  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 760px) {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 11px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 16px;
  }
}

.checkout__description {
  margin: 0;
  margin-bottom: 30px;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 760px) {
    margin-bottom: 16px;
    width: 208px;
    font-size: 9px;
    line-height: 11px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 30px;
    width: auto;
    font-size: 14px;
    line-height: 16px;
  }
}

.checkout__fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  & span {
    position: relative;
    width: 100%;
  }
}

.checkout__input {
  box-sizing: border-box;
  margin-bottom: 27px;
  padding: 0;
  padding-left: 10px;
  width: 100%;
  height: 35px;

  background: none;
  border: 1px solid #787878;

  font-size: 14px;
  line-height: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    color: #585858;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &:focus {
    border: 1px solid #0a5a7e;

    &::placeholder {
      color: #0a5a7e;
    }
  }

  @media (min-width: 760px) {
    margin-bottom: 17px;
    padding-left: 8px;
    height: 25px;

    font-size: 9px;
    line-height: 11px;

    &::placeholder {
      font-size: 9px;
      line-height: 11px;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 27px;
    padding-left: 10px;
    height: 35px;

    font-size: 14px;
    line-height: 35px;

    &::placeholder {
      font-size: 14px;
      line-height: 35px;
    }
  }
}

.checkout__edit {
  position: absolute;
  top: 10px;
  right: 16px;
  padding: 0;
  width: 14px;
  height: 14px;
  background: none;
  background-image: url("../img/svg/edit.svg");
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  @media (min-width: 760px) {
    top: 6px;
    right: 13px;
    width: 12px;
    height: 12px;
  }

  @media (min-width: 1170px) {
    top: 10px;
    right: 16px;
    width: 14px;
    height: 14px;
  }
}

.checkout__submit {
  margin-bottom: 40px;
  width: 100%;
  height: 45px;

  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  @media (min-width: 760px) {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 321px;
    height: 36px;

    font-size: 11px;
  }

  @media (min-width: 1170px) {
    width: 477px;
    height: 53px;

    font-size: 16px;
  }
}
