.choose-color {
  @media (min-width: 1024px) and (max-width: 1169px) {
    background-image: url("../img/catalog-bg-1024.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.choose-color__breadcrumbs {
  @media (min-width: 760px) {
    margin-bottom: 18px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 50px;
  }
}

.choose-color__heading {
  display: none;

  @media (min-width: 760px) {
    @include tablet-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 10px;

    font-size: 16px;
    line-height: 11px;
    color: #0a5a7e;
    text-transform: uppercase;
    text-shadow:
      14px 4px 0 rgba(10, 90, 126, 0.2);
    letter-spacing: 1px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    margin-bottom: 40px;
    padding-top: 22px;

    font-size: 24px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}
