.choose-color__breadcrumbs {
  @include mobile-content;

  @media (min-width: 760px) {
    margin-bottom: 18px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 50px;
  }
}

.choose-color__heading {
  @include mobile-content;

  @media (min-width: 760px) {
    @include tablet-content;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 22px;
    color: #3199c7;
    text-shadow:
      20px 9px 0 rgba(49, 153, 199, 0.15);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    margin-bottom: 30px;

    font-size: 34px;
    line-height: 34px;
    letter-spacing: 2px;
  }
}
