.choose-color__breadcrumbs {
  margin-bottom: 50px;
}

.choose-color__heading {
  @include desktop-content;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 34px;
  line-height: 34px;
  color: #3199c7;
  text-shadow:
    20px 9px 0 rgba(49, 153, 199, 0.15);
  text-transform: uppercase;
  letter-spacing: 2px;
}
