.contacts {
  position: relative;
  border-top: 1px solid #04235d;
  background-color: lightgray;
  //background-image: url("../img/contacts-map.png");
  background-position: center;

  @media (min-width: 760px) {
    //background-image: url("../img/contacts-map-desktop.png");
    background-position: center;
    background-color: #2850a9;
  }
}

.contacts__content {
  position: relative;
  @include mobile-content;
  padding-top: 52px;
  padding-bottom: 61px;
  width: 290px;

  font-style: normal;
  @media (min-width: 760px) {
    @include tablet-content;
    padding-top: 52px;
    padding-bottom: 61px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    padding-top: 52px;
    padding-bottom: 61px;
  }
}

.contacts__wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 25px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 13px 17px 0 0 rgba(255, 255, 255, 0.4);
  z-index: 1;

  @media (min-width: 760px) {
    margin: 0;
    padding-top: 26px;
    width: 290px;
  }

  @media (min-width: 1170px) {
    padding-top: 45px;
    width: 492px;
  }
}

.contacts__company-name {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #3199c7;
  text-align: right;

  @media (min-width: 760px) {
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: 1170px) {
    margin-right: 44px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}

.contacts__company-phone {
  display: block;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #0a5a7e;
  text-align: right;
  text-decoration: none;

  @media (min-width: 760px) {
    margin-right: 25px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: 1170px) {
    margin-right: 44px;
    font-size: 30px;
    line-height: 30px;
  }
}

.contacts__list {
  @include list-reset;
}

.contacts__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-left: 30px;
  width: 280px;
  line-height: 17px;

  &:last-child:not(:first-child) {
    border-top: 1px solid #04235d;
  }

  @media (min-width: 760px) {
    padding-top: 34px;
    padding-left: 41px;
    width: 290px;
  }

  @media (min-width: 1170px) {
    padding-top: 55px;
    padding-left: 67px;
    width: 492px;
  }
}

.contacts__address {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 30px;
  width: 190px;

  & svg {
    position: absolute;
    left: 0;
    top: 0;
    color: #0a5a7e;
    width: 17.5px;
    height: 22px;
  }

  @media (min-width: 760px) {
    margin-bottom: 10px;
    padding-left: 32px;
    width: 160px;
    font-size: 12px;
    line-height: 18px;

    & svg {
      width: 17px;
      height: 23px;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 12px;
    padding-left: 51px;
    width: 265px;
    font-size: 20px;
    line-height: 28px;

    & svg {
      width: 30px;
      height: 32px;
    }
  }
}

.contacts__link {
  color: #0a5a7e;
  text-decoration-color: rgba(10, 90, 126, 0.25);

  @media (min-width: 760px) {
    display: none;
  }
}

.contacts__phone {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding-left: 30px;
  color: #000000;
  text-decoration: none;

  & svg {
    position: absolute;
    left: 2px;
    top: 0;
    width: 14px;
    height: 14px;
    color: #0a5a7e;
  }

  @media (min-width: 760px) {
    margin-bottom: 34px;
    padding-left: 32px;
    font-size: 12px;
    line-height: 18px;

    & svg {
      width: 15px;
      height: 15px;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 62px;
    padding-left: 51px;
    font-size: 20px;
    line-height: 37px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }
}
