.footer-info {
  display: none;
  @media (min-width: 760px) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: 1170px) {
    justify-content: flex-start;
    margin-bottom: 134px;
  }
}

.footer-info__logo {
  margin: 0;

  @media (min-width: 760px) {
    margin-right: auto;
  }

  @media (min-width: 1170px) {
    margin-right: 108px;
  }
}

.footer-info__social {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 96px;

  @media (min-width: 760px) {
    margin-right: auto;
  }

  @media (min-width: 1170px) {
    margin-right: 74px;
  }

}

.footer-info__social-fb {
  width: 21px;
  height: 31px;
  color: #000000;
}

.footer-info__social-vk {
  width: 28px;
  height: 26px;
  color: #000000;
}

.footer-info__social-inst {
  width: 23px;
  height: 23px;
  color: #000000;
}

.footer-info__pay-cards {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  width: 218px;

  @media (min-width: 760px) {
    margin-right: 0;
  }

  @media (min-width: 1170px) {
    margin-right: 118px;
  }
}

.footer-info__contacts {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: 760px) {
    display: flex;
    padding-top: 30px;
    width: 380px;
    justify-content: space-between;
  }

  @media (min-width: 1170px) {
    margin-left: auto;
    padding-top: 0;
    width: auto;
    flex-direction: column;
  }
}

.footer-info__schedule-container {
  position: absolute;
  right: 6px;
  bottom: calc(100% + 30px);
  width: 180px;
}

.footer-info__phone {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 22px;
  padding-right: 54px;

  & svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 23px;
    height: 22px;
    color: #3199c7;
  }
}

.footer-info__email {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 22px;
  padding-right: 54px;

  & svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 19px;
    color: #3199c7;
  }
}
