.footer-categories {
  display: none;

  @media (min-width: 760px) {
    display: flex;
    background-color: #efefef;
  }
}

.footer-categories__content {
  @include tablet-content;
  padding-top: 41px;

  @media (min-width: 1170px) {
    width: 1132px;
    padding-left: 24px;
    padding-right: 30px;
  }
}

.footer-categories__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}

.footer-categories__link {

  @media (min-width: 760px) {
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 11px;
    color: #3199c7;
  }

  @media (min-width: 1170px) {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 16px;
  }
}

.footer-categories__item {
  @media (min-width: 760px) {
    min-width: 80px;
  }

  @media (min-width: 1170px) {
    width: 120px;
  }

}

.footer-categories__nested-list {
  @include list-reset;
}

.footer-categories__nested-link {


  @media (min-width: 760px) {
    font-size: 11px;
    line-height: 11px;

    &--heading {
      display: block;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
  }

  @media (min-width: 1170px) {
    font-size: 16px;
    line-height: 20px;

    &--heading {
      margin-bottom: 18px;
    }
  }

}

.footer-categories__deep-list {
  @include list-reset;
  margin-bottom: 17px;
}

.footer-categories__deep-link {
  @media (min-width: 760px) {
    font-size: 11px;
    line-height: 11px;
  }

  @media (min-width: 1170px) {
    font-size: 16px;
    line-height: 20px;
  }
}
