.nav-categories {
  @include list-reset;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;


  @media (min-width: 760px) {
    box-sizing: border-box;
    top: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;

    width: 735px;
    min-height: 67px;
    background-color: #ffffff;
    box-shadow:
      0 4px 68px 0 rgba(0, 0, 0, 0.2);

    &--catalog {
      display: none;
    }
  }

  @media (min-width: 1170px) {
    padding-left: 58px;
    padding-right: 58px;
    width: 954px;
  }
}

.nav-categories.js-show {
  display: block;
}

.nav-categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  border-bottom: 1px solid #7f7f7f;

  @media (min-width: 760px) {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    width: auto;

    border-bottom: none;

    &:focus-within .nav-categories__nested-list {
      display: flex;
    }

    &:first-child .nav-categories__nested-list {
      left: -20px;
    }
  }

  @media (min-width: 1170px) {
    &:first-child .nav-categories__nested-list {
      left: -58px;
    }
  }
}

.nav-categories__link {
  @include mobile-content;
  font-size: 21px;
  font-weight: bold;
  line-height: 45px;
  color: #0a5a7e;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @media (min-width: 760px) {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 13px;
    padding-left: 0;
    width: auto;
    height: 67px;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: #000000;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      right: 0;
      width: 7px;
      height: 6px;
      background-image: url("../img/categories-arrow.png");
    }

    &:hover,
    &:focus {
      padding-right: 10px;
      font-weight: bold;
      color: #0a5a7e;
    }

    &:hover ~ .nav-categories__nested-list {
      display: flex;
    }
  }

}

.nav-categories__nested-list {
  @include list-reset;
  box-sizing: border-box;
  position: relative;
  display: none;
  flex-direction: column;

  width: 100%;
  background-color: #ececec;

  @media (min-width: 760px) {
    position: absolute;
    left: -52px;
    top: 100%;
    padding-top: 27px;
    padding-left: 23px;
    width: 212px;
    background-color: #ffffff;
    box-shadow:
      inset 0 30px 68px -68px rgba(0, 0, 0, 0.7),
      0 1px 2px 0 rgba(0, 0, 0, 0.26);
    z-index: 2;

    &:hover,
    &:focus {
      display: flex;
    }
  }

  @media (min-width: 1170px) {
    left: -14px;
  }

}

.nav-categories__nested-list.js-show {
  display: block;
}

.nav-categories__nested-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #7f7f7f;

  @media (min-width: 760px) {
    align-items: flex-start;
    border-top: none;

    &:focus-within .nav-categories__deep-list {
      display: block;
    }

    &:hover .nav-categories__deep-list {
      display: block;
    }
  }
}

.nav-categories__nested-link {
  @include mobile-content;
  font-size: 16px;
  line-height: 46px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 760px) {
    margin: 0;
    width: 100%;
    padding: 0;

    &:hover,
    &:focus {
      color: #0a5a7e;
    }
  }
}

.nav-categories__nested-link--heading {
  @media (min-width: 760px) {
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 14px;
      width: 5px;
      height: 10px;
      background-image: url("../img/categories-arrow-nested.png");
    }
  }
}

.nav-categories__deep-list {
  @include list-reset;
  box-sizing: border-box;
  display: none;
  top: 0;
  left: 100%;
  padding-top: 6px;
  padding-left: 20px;
  width: 102px;
  background-color: #ffffff;
  z-index: -1;


  @media (min-width: 760px) {
    position: absolute;
    &:hover {
      display: block;
    }
  }
}

.nav-categories__deep-list.js-show {
  display: block;
}

.nav-categories__deep-item {
  margin-bottom: 2px;
}

.nav-categories__deep-link {
  font-size: 14px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;

  @media (min-width: 760px) {
    &:hover,
    &:focus {
      color: #0a5a7e;
    }
  }

}
