.order-section__form {
  @include mobile-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 760px) {
    @include tablet-content;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
  }
}

.order-section__list {
  @include list-reset;
}

.order-section__total {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;

  border: 1px solid #0a5a7e;

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: 760px) {
    margin-bottom: 25px;
    width: 230px;

    font-size: 9px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 40px;
    width: 470px;

    font-size: 18px;
  }
}

.order-section__total-value {
  width: 100%;
  text-align: center;

  background: none;
  border: none;

  font-size: 52px;
  font-weight: bold;
  line-height: 16px;
  color: #0a5a7e;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:disabled {
    color: #0a5a7e;
  }

  @media (min-width: 760px) {
    font-size: 26px;
  }

  @media (min-width: 1170px) {
    font-size: 52px;
  }
}

.order-section__button {
  margin-bottom: 35px;
  width: 290px;
  height: 54px;

  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 760px) {
    margin-bottom: 26px;
    width: 200px;
    height: 32px;

    font-size: 9px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 52px;
    width: 360px;
    height: 54px;

    font-size: 16px;
  }
}
