.page {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  counter-reset: quick-legend;
  overflow-x: hidden;

  &__product {
    @media (min-width: 1800px) {
      background-image: url("../img/product-page-bg.png");
      background-repeat: no-repeat;
      background-position: 30% 0;
    }
  }

  &__choose-color,
  &__choose-cloth,
  &__sizes-help,
  &__services,
  &__checkout,
  &__reviews,
  &__text {
    position: relative;
    background-image: url("../img/choose-color-bg.png");
    background-position: 30% 0;
  }
}
