.popular-products {
  background-color: #fafafa;

  @media (min-width: 760px) {
    background-color: #ffffff;
  }
}

.popular-products__content {
  @include mobile-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 32px;

  @media (min-width: 760px) {
    @include tablet-content;
    padding-top: 42px;
    padding-bottom: 0;
  }

  @media (min-width: 1024px) {
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      right: -220px;
      top: 220px;
      width: 262px;
      height: 508px;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    @include bg-lines;
    position: relative;
    padding-top: 85px;

    @media (min-width: 1800px) {
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        right: -340px;
        top: 385px;
        width: 465px;
        height: 903px;
        background-image: url("../img/total-desktop-bg-2.png");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
}

.popular-products__heading {
  @include mobile-headings;
  @media (min-width: 760px) {
    margin-right: auto;
    font-size: 32px;
    line-height: 15px;
    text-shadow:
      -10px 10px 0 rgba(40, 80, 169, 0.13);
  }

  @media (min-width: 1170px) {
    @include desktop-headings;
    margin-right: auto;
  }
}

.popular-products__list {
  @include list-reset;

  @media (min-width: 760px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
  }

  @media (min-width: 1170px) {
    width: 1145px;
  }
}

.popular-products__item {
  margin-bottom: 29px;

  @media (min-width: 760px) {
  }

  @media (min-width: 1170px) {
    margin-bottom: 62px;
  }
}
