.popular-sections {
  @media (min-width: 760px) {
    background-color: #ffffff;
    border: 1px solid #329bc9;
    border-left: none;
    border-right: none;
  }
}

.popular-sections__list {
  @include list-reset;
  @include mobile-content;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  @media (min-width: 760px) {
    @include tablet-content;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    min-height: 38px;
    font-size: 11px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    width: 1145px;
    min-height: 56px;
    font-size: 16px;
  }
}

.popular-sections__item {
  @media (min-width: 760px) {
    box-sizing: border-box;
    position: relative;
    display: flex;

    min-height: 38px;
  }

  @media (min-width: 1170px) {
    min-height: 56px;
  }
}

.popular-sections__item--desktop {
  @media (max-width: 759px) {
    display: none;
  }
}

.popular-sections__link {
  text-decoration: none;
  color: #000000;


  @media (min-width: 760px) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 22px;
    width: 100%;
    color: #3199c7;
    z-index: 1;

    &:hover,
    &:focus {
      color: #04235d;
      box-shadow:
        inset 0 0 0 1px #04235d;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 29px;
        background-color: #ffffff;
        z-index: -1;
      }

      &:active {
        color: #04033d;
        box-shadow:
          inset 0 0 0 2px #04033d;
      }
    }
  }

  @media (min-width: 1170px) {
    padding: 0 32px;
  }

  &.sale-link {
    @media (min-width: 760px) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: 9px;
        width: 12px;
        height: 12px;
        background-image: url(../img/sale-tablet.png);
      }
    }

    @media (min-width: 1170px) {
      &::after {
        top: 9px;
        right: 12px;
        width: 18px;
        height: 18px;
        background-image: url(../img/sale-desktop.png);
      }
    }
  }
}
