.second-slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

  @media (min-width: 760px) {
    padding-top: 80px;
  }

  @media (min-width: 1170px) {
    padding-top: 120px;
  }
}

.second-slide__heading {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  width: 160px;
  color: #0a5a7e;
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    height: 355px;
    width: 92px;
    opacity: 0.3;
    background-image: url("../img/w1test.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 355px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -55px;
    height: 376px;
    width: 110px;
    opacity: 0.3;
    background-image: url("../img/w2test.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 376px;
  }

  @media (min-width: 760px) {
    margin-bottom: 16px;
    width: 410px;
    font-size: 27px;
    line-height: 37px;

    &::before {
      right: -60px;
      top: -40px;
      width: 500px;
      height: 520px;
      background-size: auto 520px;
    }

    &::after {
      left: -220px;
      top: -40px;
      width: 300px;
      height: 520px;


      background-size: auto 520px;
    }
  }

  @media (min-width: 1170px) {
    width: 520px;
    font-size: 36px;

    &::before {
      right: -150px;
      top: -90px;
      width: 300px;
      height: 900px;
      background-size: auto 800px;
    }

    &::after {
      left: -230px;
      top: -40px;
      width: 300px;
      height: 800px;
      background-size: auto 800px;
    }
  }
}

.second-slide__description {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  width: 140px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;

  & span {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 44px;
    height: 3px;
    transform: translateX(-50%);
    background-color: #bac8dc;
  }

  @media (min-width: 760px) {
    margin-bottom: 46px;
    width: 405px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6px;

    & span {
      display: inline;
    }

    &::before {
      width: 82px;
      height: 5px;
      bottom: -30px;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 70px;
    width: 585px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;

    &::before {
      width: 82px;
      height: 5px;
      bottom: -30px;
    }
  }
}

.second-slide__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  width: 253px;
  height: 46px;
  border: 1px solid #0a5a7e;
  font-weight: bold;
  color: #0a5a7e;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 760px) {
    width: 450px;
    height: 40px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
  }

  @media (min-width: 1170px) {
    width: 582px;
    height: 52px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
  }
}

.second-slide__image {
  position: absolute;

  &--left {
    left: 0;
    bottom: -50px;

    @media (min-width: 760px) {
      bottom: -120px;
    }

    @media (min-width: 1170px) {
      bottom: -200px;
    }

    & img {
      height: 268px;

      @media (min-width: 760px) {
        height: 422px;
      }

      @media (min-width: 1170px) {
        height: 626px;
      }
    }
  }

  &--right {
    right: 0;
    bottom: -60px;
    z-index: -1;

    @media (min-width: 760px) {
      bottom: -120px;
    }

    @media (min-width: 1170px) {
      bottom: -200px;
    }

    & img {
      height: 274px;

      @media (min-width: 760px) {
        height: 422px;
      }

      @media (min-width: 1170px) {
        height: 608px;
      }
    }
  }
}
