.sizes-tables__content {
  @include mobile-content;

  @media (min-width: 760px) {
    @include tablet-content;
    margin: 0 auto;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
  }
}

.sizes-tables__heading {
  @include mobile-content;

  @media (min-width: 760px) {
    @include tablet-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 10px;

    font-size: 16px;
    line-height: 11px;
    color: #0a5a7e;
    text-transform: uppercase;
    text-shadow:
      14px 4px 0 rgba(10, 90, 126, 0.2);
    letter-spacing: 1px;
  }

  @media (min-width: 1170px) {
    @include desktop-content;
    margin-bottom: 40px;
    padding-top: 22px;

    font-size: 24px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}

.sizes-tables__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  background: none;

  @media (min-width: 1170px) {
    padding-bottom: 76px;
  }
}

.sizes-tables__item {
  @media (min-width: 760px) {
    position: relative;
    margin-bottom: 58px;

    &::before {
      content: "";
      position: absolute;
      top: 64px;
      right: 40px;
      width: 121px;
      height: 213px;
      background-image: url("../img/sizes-help-woman-tablet.png");
      background-repeat: no-repeat;
    }

    &:last-child::before {
      right: 10px;
      width: 152px;
      height: 153px;
      background-image: url("../img/sizes-help-man-tablet.png");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 34px;

    &::before {
      top: 64px;
      right: 40px;
      width: 180px;
      height: 317px;
      background-image: url("../img/sizes-help-woman.png");
    }

    &:last-child::before {
      right: -15px;
      width: 226px;
      height: 360px;
      background-image: url("../img/sizes-help-man.png");
    }
  }
}

.sizes-tables__description {
  @media (min-width: 760px) {
    margin: 0;
    margin-bottom: 18px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
  }

  @media (min-width: 1170px) {
    font-size: 17px;
    line-height: 17px;
  }
}

.sizes-tables__tables {
  display: flex;
  flex-direction: column;
}

.sizes-tables__table-girth {
  @media (min-width: 760px) {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    width: 571px;
    background-color: #f3f3f3;

    & tbody {
      display: flex;
    }

    & tr {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      &:first-child {
        margin-right: 25px;
        min-width: 60px;
      }

      &:nth-child(2) td {
        font-weight: bold;
        color: #0a5a7e;
      }
    }

    & th,
    & td {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }

    & th {
      font-size: 11px;
      font-weight: normal;
      line-height: 11px;
      text-transform: uppercase;

      &:first-child {
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        color: #0a5a7e;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    & td {
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;

      &:first-child {
        font-size: 12px;
        font-weight: bold;
        color: #0a5a7e;
      }
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 35px;
    width: 848px;

    & tr {
      margin-right: 22px;

      &:first-child {
        margin-right: 50px;
      }
    }

    & th,
    & td {
      margin-bottom: 28px;
    }

    & th {
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
      }
    }

    & td {
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        font-size: 18px;
      }
    }
  }
}

.sizes-tables__table-growth {
  @media (min-width: 760px) {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 7px;
    width: 571px;
    background-color: #f3f3f3;

    & tbody {
      display: flex;
    }
    & tr {
      display: flex;
      flex-direction: column;
      margin-right: 8px;

      &:first-child {
        margin-right: 15px;
      }
    }

    & th,
    & td {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    & th {
      font-size: 11px;
      font-weight: normal;
      line-height: 11px;
      text-transform: uppercase;

      &:first-child {
        min-width: 80px;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        color: #0a5a7e;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    & td {
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;

      &:first-child {
        min-width: 48px;
        font-size: 12px;
        font-weight: bold;
        color: #0a5a7e;
      }
    }
  }

  @media (min-width: 1170px) {
    padding-top: 22px;
    padding-left: 25px;
    width: 848px;

    & tr {
      margin-right: 14px;

      &:first-child {
        margin-right: 34px;
      }
    }

    & th,
    & td {
      margin-bottom: 28px;
    }

    & th {
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
      }
    }

    & td {
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        font-size: 18px;
      }
    }
  }
}

.sizes-tables__close {
  position: absolute;
  top: 27px;
  right: 34px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    width: 24px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #0a5a7e;
  }

  &::after {
    content: "";
    position: absolute;
    left: -1px;
    width: 24px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #0a5a7e;
  }
}
