.third-slide {
  padding-top: 5px;
  background-image: url(../img/third-slide-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 171px 234px;

  @media (min-width: 760px) {
    padding-top: 60px;

    background-size: 339px 430px;
  }

  @media (min-width: 1170px) {
    background-size: auto;
  }
}

.third-slide__text {
  padding-left: 10px;

  @media (min-width: 760px) {
    margin-right: auto;
  }

  @media (min-width: 1170px) {
    padding-left: 0;
  }
}

.third-slide__heading {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  width: 210px;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  color: #0a5a7e;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    width: 72px;
    height: 2px;
    background-image: linear-gradient(to right, #cdd4ee, #9dc2e9);
  }

  @media (min-width: 760px) {
    margin-bottom: 16px;
    padding-top: 10px;
    width: 540px;
    font-size: 27px;
    line-height: 38px;

    &::before {
      top: 130px;
      width: 120px;
      height: 3px;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 50px;
    padding-top: 20px;
    width: 650px;
    font-size: 36px;
    line-height: 50px;

    &::before {
      top: 195px;
      width: 158px;
      height: 3px;
    }

    &-name {
      font-size: 32px;
      font-weight: normal;
    }
  }
}

.third-slide__lead {
  margin: 0;
  width: 244px;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 760px) {
    width: 540px;
    font-size: 27px;
    line-height: 38px;
  }

  @media (min-width: 1170px) {
    width: 650px;
    font-size: 36px;
    line-height: 50px;
  }
}

.third-slide__description {
  margin: 0;
  margin-bottom: 10px;
  width: 145px;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  color: #0a5a7e;

  @media (min-width: 760px) {
    width: 350px;
    font-size: 12px;
    line-height: 22px;
  }

  @media (min-width: 1170px) {
    width: 560px;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 1.5px;
  }
}

.third-slide__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 17px;
  width: 100px;
  height: 24px;
  border: 1px solid #0a5a7e;
  font-size: 8px;
  font-weight: bold;
  line-height: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0a5a7e;
  letter-spacing: 1px;

  @media (min-width: 760px) {
    margin-bottom: 52px;
    width: 166px;
    height: 40px;
    border-color: #0a5a7e;
    color: #0a5a7e;
    font-size: 12px;
    line-height: 18;

    &:hover,
    &:focus {
      box-shadow:
        0 0 8px 0 rgba(0, 0, 0, 0.23);
      text-shadow:
        0 0 8px rgba(0, 0, 0, 0.23);
    }

    &:active {
      border-width: 2px;
    }
  }

  @media (min-width: 1170px) {
    width: 217px;
    height: 51px;
    font-size: 16px;
    line-height: 23px;
  }
}

.third-slide__image {
  position: absolute;
  right: 0;
  bottom: -40px;

  @media (min-width: 760px) {
    right: 20px;
    bottom: -200px;
  }

  @media (min-width: 1170px) {
    bottom: -280px;
    right: 0;
  }

  & img {
    height: 276px;

    @media (min-width: 760px) {
      height: 530px;
    }

    @media (min-width: 1170px) {
      height: 712px;
    }
  }
}
