@font-face {
  font-family: "Proxima Nova";
  src:
    url("../fonts/ProximaNova-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src:
    url("../fonts/ProximaNova-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src:
    url("../fonts/ProximaNova-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
