.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desktop-hidden {
  display: block;
}

.mobile-hidden {
  display: none;
}

@media (min-width: 760px) {
  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
}
