$mobile-width: 290px;
$tablet-width: 760px;
$desktop-width: 1145px;

@mixin mobile-content {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: $mobile-width;
}

@mixin tablet-content {
  margin: 0 auto;
  padding: 0;
  width: $tablet-width;
}

@mixin desktop-content {
  padding-left: 10px;
  padding-right: 15px;
  width: $desktop-width;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin mobile-headings {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: bold;
  line-height: 11.5px;
  color: #0a5a7e;
}

@mixin desktop-headings {
  margin: 0;
  margin-bottom: 82px;
  font-size: 46px;
  font-weight: bold;
  line-height: 23px;
  color: #0a5a7e;
  letter-spacing: 2px;
}

@mixin bg-lines {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    width: 1px;
    height: 100%;
    background-color: #e7ebf5;
    box-shadow:
      1152px 0 0 0 #e7ebf5,
      774px 0 0 0 #e7ebf5,
      382px 0 0 0 #e7ebf5;
    z-index: -1;
  }
}
