$mobile-width: 290px;

@mixin mobile-content {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: $mobile-width;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin mobile-headings {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: bold;
  line-height: 11.5px;
  color: #0a5a7e;
}
